<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>MegaBank</title>
</head>
<body>
  <h1>Rotas</h1>
  <h2>Rotas do Client</h2>
  <p>Nem todas as rotas iram funcionar, já que não são todas que são GET</p>
  <ul>
    <li><a href="/client/register">/client/register</a></li>
    <li><a href="/client/auth">/client/auth</a></li>
    <li><a href="/client/list">/client/list</a></li>
  </ul>

  <h2>Rotas da Conta</h2>
  <ul>
    <li><a href="/account/list">/account/list</a></li>
    <li><a href="/account/which-expense">/account/which-expense</a></li>
    <li><a href="/account/view-extract">/account/view-extract</a></li>
    <li><a href="/account/add-balance">/account/add-balance</a></li>
    <li><a href="/account/remove-balance">/account/remove-balance</a></li>
    <li><a href="/account/send-money">/account/send-money</a></li>
  </ul>

  
  
  
</body>
</html>